.checkbox {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkbox input {
    width: 0;
    margin: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #fff;
    border: solid 1.5px #343049;
    border-radius: 15%;
}

.checkbox input:checked+.checkmark {
    background-color: #343049;
    background-image: url(../assets/svg/checkMark.svg);
    border-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked+.checkmark:after {
    display: block;
}