input {
    background: unset;
    border: none;
    border-bottom: solid 2px #343049;
    outline: none;
    font: $font;
    color: #fff;

    &[type=text],
    &[type=number] {
        width: 200px;
        height: 30px;

        @media (max-width: 425px) {
            width: 394px;
        }
    }

    &::placeholder {
        color: #343049;
    }
}