input {
    background: unset;
    border: none;
    border-bottom: solid 2px #343049;
    outline: none;
    font: 400 18px Arial, Helvetica, sans-serif;
    color: #fff;

    &[type=checkbox] {
        margin: 3px;
        width: 15px;
        height: 15px;
    }

    &[type=text],
    &[type=number] {
        width: 200px;
        height: 30px;
    }

    &::placeholder {
        color: #343049;
    }
}