.notification {
    margin: 0 auto 20px;
    width: 680px;
    text-align: center;
    background-color: $transparentPrimaryColor;
    color: $secondaryColor;
    padding: 10px;
    border-radius: 8px;
    animation: scaleup 0.3s ease-in;

    @media (max-width: 425px) {
        width: 394px;
    }
}

@keyframes scaleup {
    0% {
        max-height: 0;
        padding: 0 10px;
        color: transparent;
        transform: translateY(38px);
    }

    80% {
        color: transparent;
    }

    100% {
        max-height: 18px;
        padding: 10px;
        color: $secondaryColor;
        transform: translateY(0);
    }
}