.page-list {
    position: relative;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    width: 700px;

    @media (min-width: 426px) {

        button,
        select {
            z-index: 1;
        }
    }

    @media (max-width: 425px) {

        width: 400px;

        >button {
            display: none;
        }
    }

    nav {
        @media (min-width: 426px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        button {
            aspect-ratio: 1 / 1;
            font-size: 21px;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 10px;
            padding: 0;
            margin: 0;

            li {
                text-align: center;
                color: $primaryColor;
                font: $font;
                font-weight: 700;
                margin: auto;
                cursor: pointer;
            }

            .space {
                cursor: context-menu;
            }

            .current-page {
                padding: 3px 8px;
                height: 100%;
                border: solid 2px $secondaryColor;
                border-radius: 15%;
                cursor: context-menu;
            }
        }
    }
}