table {
    display: block;
    margin-top: 20px;
    overflow: hidden;

    width: 704px;

    @media (max-width: 425px) {
        width: 404px;
    }

    border: solid 2px $primaryColor;
    border-radius: 8px;

    thead {
        background-color: $primaryColor;
        color: #fff;
    }

    thead,
    tbody {
        display: block;
        width: 100%;
    }

    tbody {
        color: $tableTextColor;
        background-color: $tableRowColor1;

        tr:nth-child(even) {
            background-color: $tableRowColor2;
        }
    }
}

tr {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40px repeat(2, 185px) 120px 170px;

    @media (max-width: 425px) {
        grid-template-columns: 30px 85px 40px 105px 130px;
    }

    th:first-child {
        text-align: start;
    }

    th {
        padding: 10px;

        @media (max-width: 425px) {
            padding: 10px 5px;

            button {
                height: auto;
                padding: 3px;
            }
        }
    }

    td {
        padding: 5px 10px;

        @media (max-width: 425px) {
            padding: 5px 5px;
        }
    }

    td input {
        margin-bottom: -2px;
        padding: 0;

        max-width: 100%;

        color: $primaryColor;
        font-size: 16px;
    }

    th:last-child,
    td:last-child {
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 425px) {
            justify-content: space-between;
        }
    }
}