$primaryColor: #343049;
$secondaryColor: #f6f6f6;

$tableTextColor: #696969;
$tableRowColor1: #fff;
$tableRowColor2: #f6f6f6;

$background: linear-gradient(45deg, #4458CE, #C551BF);

$font: 400 18px Arial, Helvetica, sans-serif;